name: docs
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  documentation:
    name: Build docs on ${{ matrix.os }} using Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.7", "3.8", "3.9"]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build docs
        run: |
          cd demo-docs && make check
      - name: Check Vale
        run: |
          cd test && make test
