name: docs
on:
  pull_request:
  push:
    branches:
      - main

  # Allow job to be triggered manually.
  workflow_dispatch:

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

defaults:
  run:
    shell: sh

jobs:
  documentation:
    name: Build docs on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ["windows-latest"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Build docs
        run: |
          cd docs && make check
      #- name: Check Vale
      #  run: |
      #    cd test && make test
